<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

    {% if site.show_banner %}
      <div id="banner">
        <span id="logo"></span>
        <a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
            </ul>
          </div>
        {% endif %}
      </div><!-- end banner -->
    {% endif %}


    <div class="wrapper">
          <nav>
            <ul></ul>
            <br>
            <textarea name="paragraph_text" cols="20" rows="20"
                            placeholder='Handy Scratchpad'></textarea>
          </nav>
          <section>
            {{ content }}


          </section>


          <footer>
            {% if site.github.is_project_page %}
              <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
          </footer>
    </div>




    <div class="colright">
        Check answers here:
        <noscript>
          (JavaScript required)
        </noscript>
        <div id="check_answers"></div>
    </div>

  </body>
</html>

<script>
    function fixAnswer(answer) {
        return answer.replace(/[^A-Za-z]/g, '').toUpperCase();
    }
    function checkAnswer(fixedAnswer, correctHash) {
        return CryptoJS.SHA256(fixedAnswer + '🤫').toString(CryptoJS.enc.Hex) === correctHash;
    }
    function makeAnswerChecker(name, answerHash) {
        // <div>
        //   <div>{name}</div>
        //   <input type="text" size="5">
        //   <input type="button" value="Check">
        //   <div>&nbsp;</div>
        // </div>
        var div = document.createElement('div');
        var nameDiv = document.createElement('div');
        nameDiv.innerText = name;
        var answerField = document.createElement('input')
        answerField.style.marginRight = '8px';
        answerField.type = 'text';
        answerField.size = 5;
        var checkButton = document.createElement('input')
        checkButton.type = 'button';
        checkButton.value = 'Check';
        var responseDiv = document.createElement('div');
        responseDiv.innerHTML = '&nbsp';
        div.appendChild(nameDiv);
        div.appendChild(answerField);
        div.appendChild(checkButton);
        div.appendChild(responseDiv);
        document.getElementById('check_answers').appendChild(div);

        function check() {
            var fixedAnswer = fixAnswer(answerField.value);
            if (checkAnswer(fixedAnswer, answerHash)) {
                puzz = document.getElementById('puzzle1');
                answerField.value = fixedAnswer;
                answerField.style.backgroundColor = "lightgreen";
                answerField.readOnly = true;
                checkButton.disabled = true;
                responseDiv.innerText = fixedAnswer + ' is correct!';
            } else {
                responseDiv.innerText = fixedAnswer + ' is incorrect';
            }
        }

        checkButton.onclick = check;
        answerField.onkeydown = function(ev) {
            if (ev.key == 'Enter') {
                check();
            }
        }
    }
    makeAnswerChecker('Bagus', 'fe2072a9ea5de612d29cc3bcfa536ea63a89635504da1a0a947d932947e32380');
    makeAnswerChecker('Placeholder R', 'dee8e395013eb61c968f1db777ada4da39f3e4e17264dad51d626e2306974f70');
    makeAnswerChecker('Traveling by Plane', 'e1321789b84d952a9f2d05d20c2b9b34920e6cdc6e474d7affa708b232e0b9a3');
    makeAnswerChecker('Title Pending', 'e4db322bc27b208faafd1c0706dd5c014135496c714c90603e4221fb23d1a785');
    makeAnswerChecker('Poetry', '5aafb264dd2fcc2cdbee1ec74920e424b22b38408b2bd143b15dd2e75c5edb73');
    makeAnswerChecker("IT'S ABOUT TIME!", '506fe8ca616e0115a73b0ae1da310244456aac5de77bfa70c747711353cf5b50');
    makeAnswerChecker('Placeholder D', '0d6ba4d1ded7e2c32ad34bf9061b2ab6fb19c20b7ed8a861c6099621a60c6bd6');
    makeAnswerChecker('A sticky situation', '4fa607514bf2d629996a5551d1fd3d358398741247d955f389752c621c31965a');
    makeAnswerChecker('Meta', '148e68a5833c974e2a982fa7fb171015b41434804246b59c759496e990cd3c3c');
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/sha256.js"></script>
