<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <!--<h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
        <h1><a href="{{site.baseurl}}/index.html">{{ site.title_var | default: site.github.repository_name }}</a></h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>


    <div class="wrapper">
         <section>

            {{ content }}
          </section>
    </div>




    <!--<div class="colright">-->
        <!--Check answers here:-->
        <!--<noscript>-->
          <!--(JavaScript required)-->
        <!--</noscript>-->
        <!--<div id="check_answers"></div>-->
    <!--</div>-->

  </body>
</html>

<script>

(function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let birthday = "Apr 24, 2021 12:00:00",
            countDown = new Date(birthday).getTime(),
            x = setInterval(function() {
                    var d = new Date();
                    var localTime = d.getTime();
                    var localOffset = d.getTimezoneOffset() * 60000;
                    var utc = localTime + localOffset;
                    var offset = -4; // EDT = UTC-4
                    var easternTimeNow = utc + (3600000*offset);
                    let now = easternTimeNow;

                    //let now = new Date().getTime(),
                        distance = countDown - now;
                        document.getElementById("days").innerText = Math.floor(distance / (day)),
                        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                    //do something later when date is reached
                    if (distance < 0) {
                            let headline = document.getElementById("headline"),
                                countdown = document.getElementById("countdown"),
                                content = document.getElementById("content");

                            headline.innerText = "It's puzzling time!";
                            countdown.style.display = "none";
                            content.style.display = "block";

                            clearInterval(x);
                        }
                    //seconds
                }, 0)
        }());
</script>

